<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>院系党务系统</title>
    <link rel="stylesheet" href="../css/front/normalize.css">
    <link rel="stylesheet" href="../css/front/common.css">
    <link rel="stylesheet" href="../css/front/change-over.css">

    <link rel="stylesheet" href="../assets/css/elementui.css">
    <style>

        /*.el-input--suffix .el-input__inner {*/
        /*    width: 200px;*/
        /*}*/
        .el-select {
            width: 100%;
        }
    </style>
</head>
<body>
        <div id="app" class="app">
            <a href="javascript:history.go(-1)" class="return">
                <
            </a>
            <div class="header">
                组织关系转接
            </div>
            <div class="content">
                <el-form label-position="right" label-width="80px" :model="form" style="margin-top: 20px">
                    <el-form-item label="转出原因">
                        <el-select v-model="form.reason" filterable placeholder="请选择">
                            <el-option
                                    v-for="item in reasons"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="转出至">
                        <el-select v-model="form.organization" filterable placeholder="可搜索...">
                            <el-option
                                    v-for="item in options"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-form>

                <button class="submit" @click="onSubmit">确定</button>
            </div>
        </div>

        <!-- 引入组件库 -->
        <script src="../assets/js/vue.js"></script><!-- vue -->
        <script src="../assets/js/elementui.js"></script><!-- vue -->
        <script src="../assets/js/axios.js"></script>

        <script>
            new Vue({
                el: '#app',
                // router,
                data() {
                    return {
                        form: {},
                        options: []
                    };
                },
                created() {
                    this.getOptions()
                },
                methods: {
                    getOptions() {
                        //此处应向后台获取options数据
                       /* this.options = [{
                            value: '信科院第一党总支第一党支部第一党小组',
                            label: '信科院第二党总支第二党支部第一党小组'
                        }, {
                            value: '信科院第一党总支第二党支部第一党小组',
                            label: '信科院第一党总支第二党支部第三党小组'
                        }, {
                            value: '信科院第二党总支第三党支部第二党小组',
                            label: '信科院第一党总支第二党支部第四党小组'
                        }, {
                            value: '信科院第一党总支第一党支部第二党小组',
                            label: '信科院第一党总支第二党支部第二党小组'
                        }, {
                            value: '信科院第一党总支第二党支部第四党小组',
                            label: '信科院第二党总支第一党支部第二党小组'
                        }]*/
                        this.options = [{
                            value: '阳江滨海新区机关团支部（中国共产主义青年团阳江滨海新区机关支部委员会）',
                            label: '阳江滨海新区机关团支部（中国共产主义青年团阳江滨海新区机关支部委员会）'
                        },{
                            value: '中国共产主义青年团中央音乐学院作曲系2016级本科团支部',
                            label: '中国共产主义青年团中央音乐学院作曲系2016级本科团支部'
                        },{
                            value: '中国共产主义青年团普罗科事业部质量采购团支部',
                            label: '中国共产主义青年团普罗科事业部质量采购团支部'
                        },{
                            value: '广西区梧州市市少年宫团支部',
                            label: '广西区梧州市市少年宫团支部'
                        },{
                            value: '汕尾市检查院团支部（中国共产主义青年团汕尾市人民检查院委员会）',
                            label: '汕尾市检查院团支部（中国共产主义青年团汕尾市人民检查院委员会）'
                        },{
                            value: '中国共产主义青年团北京市大兴区林校路街道北京璁鸽文化交流中心支部',
                            label: '中国共产主义青年团北京市大兴区林校路街道北京璁鸽文化交流中心支部'
                        },{
                            value: '阳江市税务局第一团支部（中国共产主义青年团国家税务总局阳江市税务局第一支部委员会）',
                            label: '阳江市税务局第一团支部（中国共产主义青年团国家税务总局阳江市税务局第一支部委员会）'
                        }, {
                            value: '中国共产主义青年团延庆区统计局团支部',
                            label: '中国共产主义青年团延庆区统计局团支部'
                        },{
                            value: '中国共产主义青年团北京大学地球与空间科学学院毕业生流动团支部',
                            label: '中国共产主义青年团北京大学地球与空间科学学院毕业生流动团支部'
                        },{
                            value: '团湛江市委团支部（中国共产主义青年团中国共产主义青年团湛江市委员会支部委员会）',
                            label: '团湛江市委团支部（中国共产主义青年团中国共产主义青年团湛江市委员会支部委员会）'
                        },{
                            value: '上海市宝山区经委团支部',
                            label: '上海市宝山区经委团支部'
                        },{
                            value: '山西省省国防晋西工业集团有限责任公司质量检验中心团支部',
                            label: '山西省省国防晋西工业集团有限责任公司质量检验中心团支部'
                        },{
                            value: '新疆区直属企业临时新疆众和股份有限公司制造服务业团支部',
                            label: '新疆区直属企业临时新疆众和股份有限公司制造服务业团支部'
                        },{
                            value: '广西区贺州市直属机关市公积金中心团支部',
                            label: '广西区贺州市直属机关市公积金中心团支部'
                        },{
                            value: '汕尾检验检疫局团支部（中国共产主义青年团汕尾出入境检验检疫局支部委员会）',
                            label: '汕尾检验检疫局团支部（中国共产主义青年团汕尾出入境检验检疫局支部委员会）'
                        },{
                            value: '中国共产主义青年团北京市平谷区平谷镇东鹿角村支部',
                            label: '中国共产主义青年团北京市平谷区平谷镇东鹿角村支部'
                        },{
                            value: '茂名水东湾新城团支部（中国共产主义青年团茂名水东湾新城支部委员会）',
                            label: '茂名水东湾新城团支部（中国共产主义青年团茂名水东湾新城支部委员会）'
                        },{
                            value: '中国共产主义青年团北京城市学院尚未落实就业去向支部',
                            label: '中国共产主义青年团北京城市学院尚未落实就业去向支部'
                        },{
                            value: '广东省汕尾市烟草专卖局团支部（中国共产主义青年团广东省汕尾市烟草专卖局支部委员会）',
                            label: '广东省汕尾市烟草专卖局团支部（中国共产主义青年团广东省汕尾市烟草专卖局支部委员会）'
                        },{
                            value: '中国共产主义青年团北京大学地球与空间科学学院毕业生流动团支部',
                            label: '中国共产主义青年团北京大学地球与空间科学学院毕业生流动团支部'
                        },{
                            value: '山西省省国防晋西工业集团有限责任公司精密机械公司团支部',
                            label: '山西省省国防晋西工业集团有限责任公司精密机械公司团支部'
                        },{
                            value: '安徽省合肥市包河区长城宽带安徽分公司团支部',
                            label: '安徽省合肥市包河区长城宽带安徽分公司团支部'
                        },{
                            value: '新疆区直属企业临时新疆众和股份有限公司电极箔公司团支部',
                            label: '新疆区直属企业临时新疆众和股份有限公司电极箔公司团支部'
                        },{
                            value: '广西区贺州市直属机关市审计局团支部',
                            label: '广西区贺州市直属机关市审计局团支部'
                        },{
                            value: '中国共产主义青年团北京大学地球与空间科学学院2017级遥感硕士生团支部',
                            label: '中国共产主义青年团北京大学地球与空间科学学院2017级遥感硕士生团支部'
                        },{
                            value: '汕尾市中心血站团支部（中国共产主义青年团汕尾市中心血站委员会）',
                            label: '汕尾市中心血站团支部（中国共产主义青年团汕尾市中心血站委员会）'
                        },{
                            value: '中国共产主义青年团天坛大厂生产团支部',
                            label: '中国共产主义青年团天坛大厂生产团支部'
                        },{
                            value: '宁夏区宁夏大学团委',
                            label: '宁夏区宁夏大学团委'
                        },{
                            value: '上海市上海对外经贸大学马克思主义学院直属团支部',
                            label: '上海市上海对外经贸大学马克思主义学院直属团支部'
                        },{
                            value: '安徽省淮北市淮北市直机关325地质队地调团支部',
                            label: '安徽省淮北市淮北市直机关325地质队地调团支部'
                        },{
                            value: '上海申康医院发展中心上海市精神卫生中心第四团支部',
                            label: '上海申康医院发展中心上海市精神卫生中心第四团支部'
                        },{
                            value: '上海申康医院发展中心上海市精神卫生中心第一团支部',
                            label: '上海申康医院发展中心上海市精神卫生中心第一团支部'
                        },{
                            value: '上海申康医院发展中心上海市精神卫生中心第六团支部',
                            label: '上海申康医院发展中心上海市精神卫生中心第六团支部'
                        },{
                            value: '上海申康医院发展中心上海市精神卫生中心第二团支部',
                            label: '上海申康医院发展中心上海市精神卫生中心第二团支部'
                        },{
                            value: '上海申康医院发展中心上海市精神卫生中心第三团支部',
                            label: '上海申康医院发展中心上海市精神卫生中心第三团支部'
                        },{
                            value: '上海申康医院发展中心上海市精神卫生中心第八团支部',
                            label: '上海申康医院发展中心上海市精神卫生中心第八团支部'
                        },{
                            value: '上海申康医院发展中心上海市精神卫生中心第七团支部',
                            label: '上海申康医院发展中心上海市精神卫生中心第七团支部'
                        },{
                            value: '上海申康医院发展中心上海市精神卫生中心第五团支部',
                            label: '上海申康医院发展中心上海市精神卫生中心第五团支部'
                        },{
                            value: '山西省省国防晋西工业集团有限责任公司车轴装备制造公司团支部',
                            label: '山西省省国防晋西工业集团有限责任公司车轴装备制造公司团支部'
                        },{
                            value: '共青团长春大学委员会',
                            label: '共青团长春大学委员会'
                        },{
                            value: '中国共产主义青年团中国科学院大学计算机网安学院委员会网络空间安全学院20202001团支部',
                            label: '中国共产主义青年团中国科学院大学计算机网安学院委员会网络空间安全学院20202001团支部'
                        },{
                            value: '中国共产主义青年团试剂所科室团支部',
                            label: '中国共产主义青年团试剂所科室团支部'
                        },{
                            value: '吉林省长春医学高等专科学校团委',
                            label: '吉林省长春医学高等专科学校团委'
                        },{
                            value: '共青团吉林省国有资产监督管理工作委员会',
                            label: '共青团吉林省国有资产监督管理工作委员会'
                        },{
                            value: '上海市上海大剧院艺术中心上海音乐厅团支部',
                            label: '上海市上海大剧院艺术中心上海音乐厅团支部'
                        },{
                            value: '宁夏区宁夏师范学院团委',
                            label: '宁夏区宁夏师范学院团委'
                        },{
                            value: '共青团吉林省国有资产监督管理工作委员会',
                            label: '共青团吉林省国有资产监督管理工作委员会'
                        },{
                            value: '新疆区直属企业临时新疆众和股份有限公司高纯铝制品公司团支部',
                            label: '新疆区直属企业临时新疆众和股份有限公司高纯铝制品公司团支部'
                        },{
                            value: '宁夏区教育银川能源学院团委',
                            label: '宁夏区教育银川能源学院团委'
                        },{
                            value: '安徽省铜陵市教区教育局铜陵市第八中学团支部',
                            label: '安徽省铜陵市教区教育局铜陵市第八中学团支部'
                        },{
                            value: '新疆区直属企业临时新疆众和股份有限公司铝箔公司团支部',
                            label: '新疆区直属企业临时新疆众和股份有限公司铝箔公司团支部'
                        },{
                            value: '中国共产主义青年团西部能源综采区团支部',
                            label: '中国共产主义青年团西部能源综采区团支部'
                        },{
                            value: '中国共产主义青年团2022061团支部',
                            label: '中国共产主义青年团2022061团支部'
                        }];
                        this.reasons = [{
                            value: '升学',
                            label: '升学'
                        }, {
                            value: '工作',
                            label: '工作'
                        }, {
                            value: '入伍',
                            label: '入伍'
                        }]
                    },
                    onSubmit() {
                        this.$message.success('申请成功！');
                        alert("申请转出成功！请等待转出组织进行审核。");
                        window.history.back(-1);    //返回上一页
                    }
                }
            })
        </script>
</body>
</html>