<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>院系党务系统</title>
    <link rel="stylesheet" href="../css/front/normalize.css">
    <link rel="stylesheet" href="../css/front/common.css">
    <link rel="stylesheet" href="../css/front/activity.css">

    <link rel="stylesheet" href="../assets/css/elementui.css">
</head>
<body>
        <div id="app" class="app">
            <a href="javascript:history.go(-1)" class="return">
                <
            </a>
            <div class="header">
                培养教育
            </div>
            <div class="tip">
                未参加
            </div>
            <div class="act" v-for="l in nolist" :key="l.id">
                <div class="actLogo">
                    <img src="../images/wait.png">
                </div>
                <div class="actInfo">
                    <div>{{ l.name }}</div>
                    <div>{{ l.publisher }}</div>
                    <div>{{ l.studyTime }}</div>
                </div>
                <a href="education-info-no.html" title="活动详情">></a>
            </div>
            <div class="tip">
                已参加
            </div>
            <div class="act" v-for="l in list" :key="l.id">
                <div class="actLogo">
                    <img src="../images/done.png">
                </div>
                <div class="actInfo">
                    <div>{{ l.name }}</div>
                    <div>{{ l.publisher }}</div>
                    <div>{{ l.studyTime }}</div>
                </div>
                <a href="education-info.html" title="活动详情">></a>
            </div>
            <div class="foot">
                <div>合计</div>
                <div>{{ total }}次</div>
            </div>
        </div>
        <!-- 引入组件库 -->
        <script src="../assets/js/vue.js"></script><!-- vue -->
        <script src="../assets/js/elementui.js"></script><!-- vue -->
        <script src="../assets/js/axios.js"></script>

        <script>
            new Vue({
                el: '#app',
                // router,
                data() {
                    return {
                        list: [],
                    };
                },
                created() {
                    this.getList()
                },
                computed: {
                  total:function () {
                      return this.list.length
                  }
                },
                methods: {
                    getList() {
                        this.nolist=[{
                            id: 10,
                            name: '青年大学习第十一季第十期',
                            studyTime: '发布时间：2020-05-27 16:00:00',
                            publisher: '廖盛浪'
                        },{
                            id: 9,
                            name: '青年大学习第十一季第八期',
                            studyTime: '发布时间：2020-05-09 16:00:00',
                            publisher: '廖盛浪'
                        },{
                            id: 8,
                            name: '青年大学习第十一季第六期',
                            studyTime: '发布时间：2020-04-28 16:00:00',
                            publisher: '廖盛浪'
                        }];
                        this.list = [{
                            id: 1,
                            name: '青年大学习第十一季第九期',
                            studyTime: '完成时间：2020-05-17 21:34:30',
                            publisher: '廖盛浪'
                        },{
                            id: 2,
                            name: '青年大学习第十一季第七期',
                            studyTime: '完成时间：2020-05-01 12:23:04',
                            publisher: '廖盛浪'
                        },{
                            id: 3,
                            name: '青年大学习第十一季第五期',
                            studyTime: '完成时间：2020-04-25 14:20:34',
                            publisher: '廖盛浪'
                        },{
                            id: 4,
                            name: '青年大学习第十一季第四期',
                            studyTime: '完成时间：2020-04-20 16:32:42',
                            publisher: '廖盛浪'
                        },{
                            id: 5,
                            name: '青年大学习第十一季第三期',
                            studyTime: '完成时间：2020-04-12 17:22:43',
                            publisher: '廖盛浪'
                        },{
                            id: 6,
                            name: '青年大学习第十一季第二期',
                            studyTime: '完成时间：2020-04-04 09:56:23',
                            publisher: '廖盛浪'
                        },{
                            id: 7,
                            name: '青年大学习第十一季第一期',
                            studyTime: '完成时间：2020-03-15 08:54:17',
                            publisher: '廖盛浪'
                        }]
                    }
                }
            })
        </script>
</body>
</html>