<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>党员信息管理系统</title>

		<link rel="stylesheet" href="assets/css/elementui.css">
		<!-- 引入组件库 -->
		<script src="assets/js/vue.js"></script><!-- vue -->
		<script src="assets/js/elementui.js"></script><!-- vue -->
		<script src="assets/js/axios.js"></script>

		<style>
			.el-table{
				margin-bottom: 20px;
				/*font-size: 14px !important;*/
			}
			[v-cloak] {
				display: none;
			}
		</style>

	</head>

	<body>

	<div id="app" style="margin: 15px;" v-cloak>
		<el-breadcrumb separator="/" style="padding-left:10px;padding-bottom:10px;font-size:14px;">
			<el-breadcrumb-item><a href="#">首页</a></el-breadcrumb-item>
			<el-breadcrumb-item>培养教育</el-breadcrumb-item>
		</el-breadcrumb>

		<el-card>
						<!-- 搜索与添加区域 -->
						<el-form :inline="true" ref="form" :model="searchMap" size="mini" label-width="70px">
							<el-form-item>
								<el-input
										clearable
										v-model="searchMap.name"
										placeholder="请输入姓名查询"
								></el-input>
							</el-form-item>
							<el-form-item>
								<el-button type="primary" icon="el-icon-search">查询</el-button>
								<el-button type="danger" icon="el-icon-upload2">导出</el-button>
							</el-form-item>
						</el-form>

						<el-table
								ref="multipleTable"
								:data="childrenData"
								tooltip-effect="dark"
								:default-sort = "{prop: 'date', order: 'descending'}"
								style="width: 100%"
								stripe
								border
								size="mini">
							<el-table-column
									type="index"
									label="#">
							</el-table-column>
							<el-table-column
									prop="name"
									label="姓名"
									sortable>
							</el-table-column>
							<el-table-column
									prop="type"
									label="政治面貌"
									sortable>
							</el-table-column>
							<el-table-column
									prop="status"
									label="是否学完"
									sortable>
								<template slot-scope="scope">
									    <el-switch v-model="scope.row.status"
												   @change="editLearn(scope.row.id,scope.row.status)"
												   active-value="1"
												   inactive-value="0">
										</el-switch>
<!--										<el-button type="primary" icon="el-icon-edit" size="mini" @click="editLearn(scope.row.id)">已学完</el-button>-->
								</template>
							</el-table-column>>
						</el-table>

						<!-- 分页区域 页码大小  当前页  -->
						<el-pagination
								class="pagiantion"
								@size-change="handleSizeChange"
								@current-change="handleCurrentChange"
								:current-page.sync="currentPage"
								:page-sizes="[1, 2, 4, 8, 10]"
								:page-size="size"
								layout="total, sizes, prev, pager, next, jumper"
								:total="total">
						</el-pagination>
					</el-card>


	</div>

		<script>
			new Vue({
				el: '#app',
				// router,
				data() {
					return {
						myStatus:'',
						id:'',
						childrenData: [],
						//当前页
						currentPage: 1,
						//总数
						total: 10,
						size: 10,
						searchMap:{
							name:'',
						},
						total: 10
					};
				},


				created() {
					this.getUrl()
					this.getTableList()
				},
				methods: {
					getUrl(){
						var r = window.location.search.substring(4)
						this.id=r
					},
					editLearn(id,state){
						if(state=="0"){
							this.myStatus="0"
						}else {
							this.myStatus="1"
						}
						// alert(this.myStatus)
						axios.get(`/studyDetail/updateFinish.do?type=${id}&myStatus=${this.myStatus}`).then(response => {
							// alert("dd")
							this.$message({
								message:"修改成功",
								type:"success"
							});
						});
					},
					getTableList() {
						//向后台获取数据列表
						axios.post(`/studyDetail/findMyPage.do?page=${this.currentPage}&size=${this.size}&type=${this.id}`,this.searchMap).then(response => {
							this.childrenData = response.data.data.pageInfo.rows;
							this.total = response.data.data.pageInfo.total;
						});
						// this.childrenData = [
						// 	{
						// 		name: '王小虎',
						// 		outlook: '正式党员',
						// 		phone: '123456789',
						// 		haveSeen: '00:30:00',
						// 		status: '已学完'
						// 	}, {
						// 		name: '王小虎',
						// 		outlook: '正式党员',
						// 		phone: '123456789',
						// 		haveSeen: '00:30:00',
						// 		status: '已学完'
						// 	}, {
						// 		name: '王小虎',
						// 		outlook: '正式党员',
						// 		phone: '123456789',
						// 		haveSeen: '00:30:00',
						// 		status: '已学完'
						// 	}, {
						// 		name: '王小虎',
						// 		outlook: '正式党员',
						// 		phone: '123456789',
						// 		haveSeen: '00:30:00',
						// 		status: '已学完'
						// 	},{
						// 		name: '王小虎',
						// 		outlook: '正式党员',
						// 		phone: '123456789',
						// 		haveSeen: '00:30:00',
						// 		status: '已学完'
						// 	}]
					},
					/**
					 * 重置
					 */
					reset(){
						this.searchMap={
							name:'',
						}
						this.getTableList()
					},
					/**
					 * 搜索用户
					 */
					search() {
						this.currentPage=1,
						this.getTableList();
					},
					handleSizeChange(val){
						this.currentPage=1
						this.size=val;
						this.getTableList();
					},
					handleCurrentChange(val){
						this.currentPage=val;
						this.getTableList();
					},
				}
			})
		</script>

	</body>
</html>